# General

.DS_Store
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IntelliJ IDEA, based on https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

**/.idea/**
**/.idea/**/encodings.xml
**/.idea/**/workspace.xml
**/.idea/**/tasks.xml
**/.idea/**/usage.statistics.xml
**/.idea/**/dictionaries
**/.idea/**/shelf
**/.idea/**/contentModel.xml
**/.idea/**/dataSources/
**/.idea/**/dataSources.ids
**/.idea/**/dataSources.local.xml
**/.idea/**/sqlDataSources.xml
**/.idea/**/dynamic.xml
**/.idea/**/uiDesigner.xml
**/.idea/**/dbnavigator.xml
**/.idea/artifacts
**/.idea/compiler.xml
**/.idea/dataSources.xml
**/.idea/jarRepositories.xml
**/.idea/modules.xml
!/.idea/modules.xml
!examples/.idea/modules.xml
**/.idea/modules
**/.idea/**/libraries
**/.idea/**/mongoSettings.xml
**/.idea/replstate.xml
**/.idea/httpRequests
**/.idea/**/inspectionProfiles
*.iml
!examples/examples.iml
!framework/framework.iml
!/AutomatedDataLoad.iml
*.ipr
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml


# Custom

tests/system-tests/*.txt
tests/system-tests/*.sh
framework/logs
local/
logs/

